<div class="container">
    <div class="div">
        <div class="col-md-12 pt-5">
            <h5 class="d-flex justify-content-center">Search for your nearest <span class="text-primary mx-2">Network Hospital</span>to plan and avail a cashless hospitalisation</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center pt-3">
    <div class="row col-md-7">
        <div class="input-group mb-3">
            <input type="text" class="form-control p-3" placeholder="Type your Location" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-secondary bg-opacity-25" type="button" id="button-addon2" disabled>Use current location</button>
          </div>
    </div>
</div>

<div class="pt-3">
    <div class="row">
        <div class="col-md-7 makebox shadow-sm">
            <p>Looking for surgery planning in ?</p>
        </div>
        <div class="col-md-7 makebox2 shadow">
            <div class="row">
                <div class="col-md-2">
                  <input type="text" class="form-control rounded-pill" placeholder="Name" aria-label="First name">
                </div>
                <div class="col-md-2">
                  <input type="text" class="form-control rounded-pill" placeholder="Number" aria-label="Last name">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control rounded-pill" placeholder="Location" aria-label="Last name">
                  </div>
                  <div class="col-md-3">
                    <select class="form-select rounded-pill dropup" aria-label=".form-select-lg example">
                        <option selected><b>Condition</b></option>
                        <option value="1">Proctology</option>
                        <option value="2">Piles</option>
                        <option value="3">Fissure</option>
                        <option value="3">Fistula</option>
                        <option value="3">Pilonidal Sinus</option>
                        <option value="3">Laproscopy</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control rounded-pill bg-secondary bg-opacity-25" placeholder="Request a call now" aria-label="Last name">
                  </div>
              </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="pt-5">
            <img src="https://www.medibuddy.in/assets/banners/app_install_ecard.svg" alt="">
        </div>
    </div>
</div>

<div class=" col-md-10 container d-flex justify-content-center pt-3">
    <div class="row col-md-8 mt-5 shadow">
      <img src="https://views.medibuddy.in/websiteBanners/surgery-desk-ecard.svg" alt="">
    </div>
  </div>


<div class="container pt-5 d-flex justify-content-around">
    <div class="col-md-10">
        <div class="row">
            <h5 style="margin-left: 130px;">Quick city selection</h5>
            <div class="nameproperty col-md-2 pt-3">
                <p>Mumbai-Maharashtra</p>
                <p>Hyderabad-Telangana</p>
            </div>
            <div class="nameproperty col-md-2 pt-3 mx-2">
                <p>Bengaluru - Karnataka</p>
                <p>Ahmedabad - Gujarat</p>
            </div>
            <div class="nameproperty col-md-2 pt-3 mx-2">
                <p>Chennai - Tamil Nadu</p>
                <p>Pune - Maharashtra</p>
            </div>
            <div class="nameproperty col-md-2 pt-3 mx-2">
                <p>Kolkata - West Bengal</p>
                <p>Delhi - Delhi</p>
            </div>
        </div>
    </div>
</div>

<div class="container  d-flex justify-content-center pt-3">
    <div class="row col-md-8">
        <hr>
    </div>
</div>

<div class="container pt-5 d-flex justify-content-around">
    <div class="col-md-10">
        <div class="row">
            <div class="nameproperty col-md-2 pt-3">
                <p>Agra - Uttar Pradesh</p>
                <p>Bhopal - Madhya Pradesh</p>
                <p>Dehradun - Uttaranchal</p>
                <p>Ghaziabad - Uttar Pradesh</p>
                <p>Jalandhar - Punjab</p>
            </div>
            <div class="nameproperty col-md-2 pt-3 mx-2">
                <p>Allahabad - Uttar Pradesh</p>
                <p>Bhubaneswar - Odisha</p>
                <p>Dhanbad - Jharkhand</p>
                <p>Gurgaon - Haryana</p>
                <p>Kanpur - Uttar Pradesh</p>
            </div>
            <div class="nameproperty col-md-2 pt-3 mx-2">
                <p>Ambala - Haryana</p>
                <p>Chandigarh - Chandigarh</p>
                <p>Faridabad - Haryana</p>
                <p>Indore - Madhya Pradesh</p>
                <p>Cochin - Kerala</p>
            </div>
            <div class="nameproperty col-md-2 pt-3 mx-2">
                <p>Amritsar - Punjab</p>
                <p>Coimbatore - Tamil Nadu</p>
                <p>Gandhi Nagar - Gujarat</p>
                <p>Jaipur - Rajasthan</p>
                <p>Lucknow - Uttar Pradesh</p>
            </div>
        </div>
    </div>
</div>

<div class="container  d-flex justify-content-center pt-3">
    <div class="row col-md-8">
        <hr>
    </div>
</div>

<div class="container  d-flex justify-content-center pt-3">
    <div class="row col-md-8">
        <p>&nbsp;&nbsp; Claims Helpline: <span class="text-primary">080 2206 9449</span> &nbsp;&nbsp; Senior Citizen Helpline:<span class="text-primary">1800 419 9493</span></p>
    </div>
</div>

<div class="container  d-flex justify-content-center pt-3">
    <div class="row col-md-8">
        <hr>
    </div>
</div>

<div class="container  d-flex justify-content-center pt-4">
    <div class="row col-md-8">
        <h4>&nbsp;&nbsp; Discover More</h4>
    </div>
</div>

<div class="container  d-flex justify-content-center">
    <div class="row col-md-8">
        <hr>
    </div>
</div>

<div class="container  d-flex justify-content-center">
    <div class="row col-md-8 text-primary">
        <div class="col-md-4">
            <h6> Network Hospital Search for your customers made easy, with MediBuddy!</h6>
        </div>
        <div class="col-md-4">
            <h6>Groups That Have More Chances Of Contracting Coronavirus</h6>
        </div>
        <div class="col-md-4">
            <h6>Solve Health Issues at Home With MediBuddy Gold</h6>
        </div>
    </div>
</div>