<div class="sticky">
    <div class="row bg-light m-auto text-light shadow pb-2">
        <div class="col-md-4 ms-4 text-start">
            <a href="" class="navbar-brand"><img src="https://www.medibuddy.in/assets/logos/medibuddyWithName.svg"
                    alt="" height="40"></a>
        </div>
        <div class="col-md-6 text-end text-dark">
            <a href="" class="navbar-brand text-primary fs-5"><b>About Us</b></a>
            <a href="" class="navbar-brand text-primary ms-4 fs-5"><b>Login</b></a>
        </div>
    </div>
</div>