<div class="container-fluid">
    <div class="row" style="margin-top: 150px;">
        <div class="pg-footer">
            <footer class="footer">
              <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
                <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
              </svg>
              <div class="footer-content">
                <div class="footer-content-column">
                  <div class="footer-logo">
                    <a class="footer-logo-link" href="#">
                      <span class="hidden-link-text">LOGO</span>
                      <h4>Health</h4>
                    </a>
                  </div>
                  <div class="footer-menu">
                    <ul id="menu-get-started" class="footer-menu-list">
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                            <a href="#">MediBuddy Gold</a>
                          </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-product">
                        <a href="#">Book Medicine</a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-product">
                        <a href="#">Doctor Consultation</a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-product">
                        <a href="#">Book a Lab test</a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-product">
                        <a href="#">Covid Essential Items</a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-product">
                        <a href="#">Dental</a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-product">
                        <a href="#">Cancer Care</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="footer-content-column">
                    <div class="footer-logo">
                      <a class="footer-logo-link" href="#">
                        <span class="hidden-link-text">LOGO</span>
                        <h4>Hospitalization</h4>
                      </a>
                    </div>
                    <div class="footer-menu">
                      <ul id="menu-get-started" class="footer-menu-list">
                          <li class="menu-item menu-item-type-post_type menu-item-object-product">
                              <a href="#">Plan hospitalization</a>
                            </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                          <a href="#">Local hospital</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                          <a href="#"><b>Download</b> :<span class="ms-1">E-Card</span><span class="ms-1">|</span><span class="ms-1">Claim forms</span></a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                          <a href="#">Intimate claim</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                          <a href="#">FAQs</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="footer-content-column">
                    <div class="footer-logo">
                      <a class="footer-logo-link" href="#">
                        <span class="hidden-link-text">LOGO</span>
                        <h4>About</h4>
                      </a>
                    </div>
                    <div class="footer-menu">
                      <ul id="menu-get-started" class="footer-menu-list">
                          <li class="menu-item menu-item-type-post_type menu-item-object-product">
                              <a href="#">Overview</a>
                            </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                          <a href="#">Testimonials</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                          <a href="#">Contact</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                          <a href="#">Blog</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                          <a href="#">Careers</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product">
                          <a href="#">Security</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                <div class="footer-content-column">
                  <div class="footer-call-to-action">
                    <h2 class="footer-call-to-action-title ms-2"> Download App</h2>
                    <p class="footer-call-to-action-description"><i class="bi bi-google-play ms-5"></i><i class="bi bi-apple ms-3"></i></p>
                    <a class="footer-call-to-action ms-4">FOLLOW US</a>
                    <p class="footer-call-to-action-description"><i class="bi bi-facebook ms-4"></i><i class="bi bi-linkedin ms-2"></i><i class="bi bi-twitter ms-2"></i><i class="bi bi-wifi ms-2"></i></p>
                    <button class="footer-call-to-action-button">Terms of use</button>
                    <button class="footer-call-to-action-button">Privacy Policy</button>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="footer-copyright-wrapper">
                  <p class="footer-copyright-text">
                    <a class="footer-copyright-link" href="#" target="_self"> ©2022. | Designed By: Smitesh Firke. | All rights reserved to J-group. </a>
                  </p>
                </div>
              </div>
            </footer>
          </div>
    </div>
</div>
