<div class="container">
    <div class="div">
        <div class="col-md-12 pt-5">
            <h5 class="d-flex justify-content-center">Get real-time status of your <span class="text-primary mx-2">Claim</span></h5>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 pt-5 d-flex justify-content-center mb-5">
            <p class="px-2">I have</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                <label class="form-check-label" for="inlineRadio1"><b>Claim Id</b></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2"><b>Medi Assist ID</b></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2"><b>Employee Id</b></label>
              </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row col-md-8">
       
        <div class="input-group" style="margin-left: 250px;">
            <input type="text" class="form-control p-4" placeholder="Medi Assist ID" aria-label="Recipient's username">
            <input type="text" class="form-control p-4" placeholder="Enter your Name" aria-label="Recipient's username">
            <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
          </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="row col-md-8 mt-5 shadow">
      <img src="https://views.medibuddy.in/websiteBanners/surgery-desk-ecard.svg" alt="">
    </div>
  </div>
 


  <div class="container  d-flex justify-content-center pt-5">
    <div class="row col-md-8">
        <hr>
    </div>
</div>

<div class="container col-md-8" style="margin-left: 330px;">
    <div class="row">
        <div class="col-md-8" style="margin-top: 10px;">
            <p>SMS " <b class="text-primary">CLAIMS < claim number> </b>" to <b class="text-primary">+91 96631 49992</b>
                to know the claim status</p>
        </div>
        <div class="col-md-4">
            <button class="btn-btn-white p-1">Download claim forms</button>
        </div>
    </div>
</div>

<div class="container  d-flex justify-content-center pt-5">
    <div class="row col-md-8">
        <hr>
    </div>
</div>

<div class="container  d-flex justify-content-center pt-3">
    <div class="row col-md-8">
        <h4>Discover More</h4>
    </div>
</div>
<div class="container  d-flex justify-content-center">
    <div class="row col-md-8">
        <hr>
    </div>
</div>

<div class="container  d-flex justify-content-center">
    <div class="row col-md-8">
        <div class="col-md-4">
            <b class="text-primary">Health Insurance Policies and Coronavirus</b>
        </div>
        <div class="col-md-4">
            <b class="text-primary">SmartBox – The smart way to submit and track your reimbursement claim</b>
        </div>
        <div class="col-md-4">
            <b class="text-primary">Scenario of the Online Pharmacy Market In India</b>
        </div>
    </div>
</div>